# Trabajo Práctico: reglas de asociación

### Integrantes del grupo: Gonzalez Nehuen, Arja Adel, Madoery Pablo

In [10]:
import numpy as np
from efficient_apriori import apriori
import pandas as pd

In [11]:
movies = pd.read_csv("ml-20m/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
df = pd.read_csv("ml-20m/ratings.csv")
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [13]:
# si queremos trabajar con un dataset reducido en numero de users
#ids = list(range(1,11))
#df = df[df.userId.isin(ids)]
#df

     userId  movieId  rating   timestamp
0         1        2     3.5  1112486027
1         1       29     3.5  1112484676
2         1       32     3.5  1112484819
3         1       47     3.5  1112484727
4         1       50     3.5  1112484580
5         1      112     3.5  1094785740
6         1      151     4.0  1094785734
7         1      223     4.0  1112485573
8         1      253     4.0  1112484940
9         1      260     4.0  1112484826
10        1      293     4.0  1112484703
11        1      296     4.0  1112484767
12        1      318     4.0  1112484798
13        1      337     3.5  1094785709
14        1      367     3.5  1112485980
15        1      541     4.0  1112484603
16        1      589     3.5  1112485557
17        1      593     3.5  1112484661
18        1      653     3.0  1094785691
19        1      919     3.5  1094785621
20        1      924     3.5  1094785598
21        1     1009     3.5  1112486013
22        1     1036     4.0  1112485480
23        1     1079     4.0  1094785665
24        1     1080     3.5  1112485375
25        1     1089     3.5  1112484669
26        1     1090     4.0  1112485453
27        1     1097     4.0  1112485701
28        1     1136     3.5  1112484609
29        1     1193     3.5  1112484690
..      ...      ...     ...         ...
892       9     1997     5.0   994020231
893       9     2279     3.0   994019240
894       9     2605     2.0   994020680
895       9     2683     3.0   994020490
896       9     2688     3.0   994020834
897       9     2706     4.0   994020490
898       9     2710     3.0   994020516
899       9     2719     2.0   994020834
900       9     2722     2.0   994020644
901       9     2840     3.0   994020305
902       9     2841     4.0   994020264
903       9     2959     5.0   994020680
904       9     3016     2.0   994020644
905       9     3785     2.0   994019133
906       9     3798     5.0   994020379
907       9     3857     3.0   994020517
908       9     3908     2.0   994020078
909       9     3979     3.0   994019476
910       9     3994     3.0   994019432
911       9     3999     2.0   994019451
912       9     4022     4.0   994019320
913       9     4030     2.0   994019476
914       9     4034     1.0   994019320
915       9     4148     5.0   994020180
916       9     4369     4.0   994019656
917       9     4483     2.0   994019881
918       9     4502     1.0   994019848
919       9     4509     3.0   994019820
920       9     4519     2.0   994019800
921       9     4533     3.0   994019775

[922 rows x 4 columns]

In [14]:
transactions = df.groupby('userId')['movieId'].apply(list).values

In [15]:
itemsets, rules = apriori(transactions, min_support=0.1,  min_confidence=0.7)

## Métricas de reglas de asociación:
### más soporte: la regla se encuentra en más transacciones
### más confianza: mayor probabilidad de que la regla sea cierta para una transacción
### más lift: menor probabilidad de que la regla sea una casualidad
### más convicción: mayor grado de implicación, va de 1 a infinito (si la confianza es 1, la convicción es infinita)

In [16]:
# ordenamos las reglas de mayor a menor lift
rules=sorted(rules, key=lambda rule: rule.lift, reverse=True)
for rule in rules:
  print(rule)

{589} -> {480} (conf: 0.857, supp: 0.667, lift: 1.286, conv: 2.333)
{480} -> {589} (conf: 1.000, supp: 0.667, lift: 1.286, conv: 222222222.222)

In [17]:
# filtramos las reglas 1-1 y las imprimimos ordenadas por lift
filtered_rules = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(filtered_rules, key=lambda rule: rule.lift, reverse=True):
  print(rule)

{589} -> {480} (conf: 0.857, supp: 0.667, lift: 1.286, conv: 2.333)
{480} -> {589} (conf: 1.000, supp: 0.667, lift: 1.286, conv: 222222222.222)

In [18]:
# filtramos las reglas 1-1 y las imprimimos ordenadas por lift y decodificadas
filtered_rules = filter(lambda rule: len(rule.lhs) == 1 and len(rule.rhs) == 1, rules)
for rule in sorted(filtered_rules, key=lambda rule: rule.lift, reverse=True):
    m1 = movies[movies.movieId == rule.lhs].title.item()
    m2 = movies[movies.movieId == rule.rhs].title.item()
    print(m1, " -> ", m2)

Terminator 2: Judgment Day (1991)  ->  Jurassic Park (1993)
Jurassic Park (1993)  ->  Terminator 2: Judgment Day (1991)

### Conclusiones